server_tokens off;
access_log /var/log/nginx/access.log runtime_main;
client_max_body_size ${NGINX_CLIENT_MAX_BODY_SIZE};
keepalive_timeout ${NGINX_KEEPALIVE_TIMEOUT} ${NGINX_KEEPALIVE_TIMEOUT};
client_body_timeout ${NGINX_CLIENT_BODY_TIMEOUT};
client_header_timeout ${NGINX_CLIENT_HEADER_TIMEOUT};
send_timeout ${NGINX_SEND_TIMEOUT};

if ($block_known_scanners) {
  return 444;
}
